<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Document</title>
</head>
<body>
    <header>
        <a href="/">Article</a>
        <a href="/users/new"><button>Add Article</button></a>
    </header>
    <h4>Article Information</h4>
    <p><%=article.title%></p>
    <p><%=article.description%></p>
    <p><%=article.tag%></p>
    <p><%=article.author%></p>
    <p><%=article.likes%></p>
    <a href="/users/<%=article.id%>/likes"><button>Likes</button></a>
    <a href="/users/<%=article.id%>/dislikes"><button>Deslikes</button></a>
    <a href="/users/<%=article.id%>/edit"><button>Edit</button></a>
    <a href="/users/<%=article.id%>/delete"><button>Delete</button></a>

    <h3>Comments</h3>
    <form action="/users/<%=article.id%>/comments" method="POST">
         <input type ="text" name = "author" placeholder="Enter author"><br><br>
         <textarea type ="textarea" name = "content" rows="4" placeholder="Enter content"></textarea><br><br>
            <button type="submit">Add Comment</button>
    </form>

    <%comment.forEach((com) =>{%>
        <p><%=com.content%></p>
        <p><%=com.author%></p>
        <p><%=com.likes%></p>
        
        <a href="/comment/<%=com.id%>/likes"><button>Likes</button></a>
      <a href="/comment/<%=com.id%>/dislikes"><button>Deslikes</button></a>
        <a href="/comment/<%=com.id%>/edit"><button>Edit</button></a>
        <a href="/comment/<%=com.id%>/delete"><button>Delete</button></a>
   <% })%>
</body>
</html>